# Database (PostgreSQL)
DATABASE_URL=postgres://username:password@localhost/demo

# Cache (redis)
REDIS_URL=redis://:password@localhost:6379/0

# IAAA interface
IAAA_ID=iaaa_foo
IAAA_KEY=iaaa_bar

# Server
LISTEN_ADDR=[::1]:8080

# JWT
JWT_SECRET=my-secret

# JWT expire time (in seconds)
JWT_EXPIRE_TIME=3600